<section class="profile">
    <app-navbar />
    <section class="container">
        <div class="profile-img d-flex align-items-center flex-column">
            <img class="rounded-circle" src="https://aws-modapedia.vogue.es/prod/designs/v1/assets/640x427/1373.jpg"
                alt="">
            <div>
                <h3>Margot Robbie</h3>
                <h5>Chitre, Herrera</h5>
            </div>
            <div style="width: 112.5px;">
                <app-button label="Edit Profile" />
            </div>
        </div>
        <hr>
        <div class="info">
            <div class="row">
                <div class="col">
                    <div class="head">
                        First Name
                    </div>
                    <div class="value">
                        Margot
                    </div>
                </div>
                <div class="col">
                    <div class="head">
                        Last Name
                    </div>
                    <div class="value">
                        Robbie
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </section>
    <app-footer />
</section>