div {
  i {
    color: aliceblue;
    font-size: 16px;
    margin: 0;
  }
  span {
    color: aliceblue;
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    align-items: baseline;
  }
}
